server:
  mysql: "root:123456@/msg_notification?charset=utf8&parseTime=True&loc=Local"
  rabbitmq: "amqp://liujx:Liujiaxing@localhost:5672/"
  
  redis: "redis://localhost:6379/0"

  mqexchange: "t.msg.ex"
  mqroutingkey: "push.msg.q"

notification:
  mysql: "root:123456@/msg_notification?charset=utf8&parseTime=True&loc=Local"
  rabbitmq: "amqp://liujx:Liujiaxing@localhost:5672/"
  redis: "redis://localhost:6379/0"
  consumer:
    queue: "push.msg.q"
  producer:
    mail:
      mqexchange: "t.msg.ex.notification"
      mqroutingkey: "push.msg.q.notification.mail"    
    phone:
      mqexchange: "t.msg.ex.notification"
      mqroutingkey: "push.msg.q.notification.phone"    
    wechat:
      mqexchange: "t.msg.ex.notification"
      mqroutingkey: "push.msg.q.notification.wechat"    

sender:
  mysql: "root:123456@/msg_notification?charset=utf8&parseTime=True&loc=Local"
  rabbitmq: "amqp://liujx:Liujiaxing@localhost:5672/"
  redis: "redis://localhost:6379/0"
  mail:
    consumer:
      queue: "push.msg.q.notification.mail"
    sendsvc:
      domain: "c2FuZGJveGFhZmYxYjc2OWEzYzQyOWRhZWY3NzdkZmVlZDhmMTczLm1haWxndW4ub3Jn"
      privateapikey: "a2V5LWExYTUxMjA4MDdkMmRjZGIyYTc2Y2UwYmE5OTljZGVi"
      publicapikey: "cHVia2V5LTI1ZjlmZGZhN2FmNTg4ODAzMTFlYzI4OTc3YzEwZjZj" 
  phone:
    consumer:
      queue: "push.msg.q.notification.phone"    
  wechat:
    consumer:
      queue: "push.msg.q.notification.wechat" 

dashboard:
  mysql: "root:123456@/msg_notification?charset=utf8&parseTime=True&loc=Local"
  redis: "redis://localhost:6379/0"
